{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Anleitung
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script language="javascript" type="text/javascript">  

function updateTextInput1(val) {
          document.getElementById('textInput').value=val; 
          val=Math.round(((40-val)/1.5),0);
          document.getElementById('textInput1').value=val;
        }

function updateTextInput2(val) {
          document.getElementById('textInput2').value=val; 
          val=Math.round(((40-val)/1.25),0);
          document.getElementById('textInput3').value=val;
        }
function updateTextInput3(val) {
          document.getElementById('textInput4').value=val; 
          val=Math.round(((40-val)/1),0);
          document.getElementById('textInput5').value=val;
        }
function updateTextInput4(val) {
          document.getElementById('textInput6').value=val; 
          val=Math.round(((40-val)/0.75),0);
          document.getElementById('textInput7').value=val;
        }
function updateTextInput5(val) {
          document.getElementById('textInput8').value=val; 
          val=Math.round(((40-val)/0.5),0);
          document.getElementById('textInput9').value=val;
        }

 $(document).ready(function () {
        $('.slider1').on('input change', function () {
            $('.slider1').addClass('myclass');
        });

    });

$(document).ready(function () {
  $('.slider2').on('input change', function () {
      $('.slider2').addClass('myclass');
  });

});

$(document).ready(function () {
  $('.slider3').on('input change', function () {
      $('.slider3').addClass('myclass');
  });

});

$(document).ready(function () {
  $('.slider4').on('input change', function () {
      $('.slider4').addClass('myclass');
  });

});

$(document).ready(function () {
  $('.slider5').on('input change', function () {
      $('.slider5').addClass('myclass');
  });

});

$('#textInput').keypress(function(e) {
    e.preventDefault();
});
$("#textInput").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput").append(char);
  }
});

$('#textInput1').keypress(function(e) {
    e.preventDefault();
});
$("#textInput1").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput1").append(char);
  }
});

$('#textInput2').keypress(function(e) {
    e.preventDefault();
});
$("#textInput2").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput2").append(char);
  }
});

$('#textInput3').keypress(function(e) {
    e.preventDefault();
});
$("#textInput3").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput3").append(char);
  }
});

$('#textInput4').keypress(function(e) {
    e.preventDefault();
});
$("#textInput4").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput4").append(char);
  }
});

$('#textInput5').keypress(function(e) {
    e.preventDefault();
});
$("#textInput5").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput5").append(char);
  }
});

$('#textInput6').keypress(function(e) {
    e.preventDefault();
});
$("#textInput6").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput6").append(char);
  }
});

$('#textInput7').keypress(function(e) {
    e.preventDefault();
});
$("#textInput7").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput7").append(char);
  }
});

$('#textInput8').keypress(function(e) {
    e.preventDefault();
});
$("#textInput8").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput8").append(char);
  }
});

$('#textInput9').keypress(function(e) {
    e.preventDefault();
});
$("#textInput9").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#textInput9").append(char);
  }
});


        </script>
</script>
{% endblock %}


{% block styles %}
  <style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.e{
        padding-top: 60px ;
    }
.f{
        padding-top: 60px ;
        padding-bottom: 10px ;
    }
.g{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.h{
        padding-top: 10px ;
    }
.j{
        padding-bottom: 1px ;
    }
.i{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
tr.border td {
  border: thin solid black;
}

* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:100%;
  max-height:100%;
  padding-bottom: 40px ;
}
img.im2 {
  max-width:120%;
  max-height:120%;
  padding-bottom: 40px ;
}
img.im3 {
  max-width:200%;
  max-height:500%;
  padding-bottom: 40px ;
}
img.im4 {
  max-width:200%;
  max-height:200%;
  padding-bottom: 40px ;
}
img.im5 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
img.im6 {
  max-width:95%;
  max-height:95%;
}
img.im7 {
  max-width:90%;
  max-height:90%;
}

.myclass::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}
.myclass::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}

.slider1 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

.slider1:focus {
    outline: none;
}

.slider1::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider1::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}


.slider1 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
}


.slider1::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider1::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
}








.myclass::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}
.myclass::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}

.slider2 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

.slider2:focus {
    outline: none;
}

.slider2::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider2::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}


.slider2 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
}


.slider2::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider2::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
}











.myclass::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}
.myclass::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}

.slider3 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

.slider3:focus {
    outline: none;
}

.slider3::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider3::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}


.slider3 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
}


.slider3::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider3::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
}













.myclass::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}
.myclass::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}

.slider4 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

.slider4:focus {
    outline: none;
}

.slider4::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider4::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}


.slider4 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
}


.slider4::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider4::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
}



















.myclass::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}
.myclass::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
}

.slider5 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

.slider5:focus {
    outline: none;
}

.slider5::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider5::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}


.slider5 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
}


.slider5::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.slider5::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
}

  </style>
{% endblock %}

{% block content %}

<div class=a>
<p align="justify">Falls die Modifikation "Aufgabenaufteilung" in Teil 2 zufällig für Sie ausgewählt wird, wird es in Teil 2 und 3 Ihre Aufgabe sein die Dekodierungsaufgaben zu lösen. Mittels der Schieberegler (unten auf der Seite) können selber entscheiden, wie viele Aufgaben Sie beim ersten Labortermin (Teil 2) erledigen möchten und wie viele Aufgaben Sie beim zweiten Labortermin in einer Woche erledigen möchten. In jedem Teil müssen Sie mindestens zwei Aufgaben lösen.<br>
Es ist zu beachten, dass unten auf der Seite fünf Schieberegler angezeigt werden. Jeder dieser Schieberegler beinhaltet ein bestimmtes Teil2-Tauschverhältnis der Aufaben zwischen Teil 2 und 3. Der obserste Schieberegler hat ein Teil2-Tauschverhältnis von 1,5. Dies bedeutet, dass Sie für jede Aufgabe, die Sie in Teil 3 weniger bearbeiten, 1,5 Aufgaben mehr in Teil 2 bearbeiten müssen. Nach selbigem Prinzip fungieren die Teil2-Tauschverhältnisse der anderen Schieberegler. Welcher der fünf Schieberegler-Entscheidungen für Sie relevant wird, wird zufällig ausgewählt werden.<br>
Zudem ist zu beachten, dass Sie zu Beginn von Teil 2 selbige Entscheidung nochmals treffen werden. Ob ihre heutige Entscheidung oder Ihre Entscheidung in Teil 2 nächste Woche relevant für die Aufgabenbearbeitung sein wird, wird ebenfalls zufällig ausgewählt werden.<br>
Treffen Sie nun bitte Ihre Entscheidungen zu jedem Schieberegler.
</p>
</div>
Bitte geben Sie anhand der Regler an, wie viele <strong>Aufgaben Sie in Teil 2</strong> und wie viele <strong>Aufgaben Sie in Teil 3 </strong>bearbeiten möchten. Klicken Sie hierzu in die blauen Leisten und verschieben Sie die Regler wie gewünscht.<br><br>
<div>
    <table border=0 class="centerTable" width = "82%">
        <tbody>
            <tr>
                <td width="35%" style="vertical-align: center; text-align: left" ><strong>Teil2-Tauschverhältnis=1,50:{{ form.dec11.errors }}</strong></td>
                  <td width="15%" style="vertical-align: center; text-align: right" >Aufgaben Teil2<input name="dec11" type="text" id="textInput" value="" size="1" style="text-align:center;"></td>
                <td width="35%" style="vertical-align: center; text-align: center" ><input class="slider1" type="range"  min="0" max="40" step="1" onchange="updateTextInput1(this.value);"></td>
                <td width="15%" style="vertical-align: center; text-align: left" >Aufgaben Teil3<input name="dec12"  type="text" id="textInput1" value="" size="1" style="text-align:center;"></td>
            </tr>
            
            <tr>
                <td  style="vertical-align: center; text-align: left" ><strong>Teil2-Tauschverhältnis=1,25:{{ form.dec22.errors }}</strong></td>
                  <td  style="vertical-align: center; text-align: right" >Aufgaben Teil2<input name="dec21"  type="text" id="textInput2" value="" size="1" style="text-align:center;"></td>
                <td  style="vertical-align: center; text-align: center" ><input class="slider2" type="range"  min="0" max="40" step="1" onchange="updateTextInput2(this.value);"></td>
                <td  style="vertical-align: center; text-align: left" >Aufgaben Teil3<input name="dec22"  type="text" id="textInput3" value="" size="1" style="text-align:center;"></td>
            </tr>
            
            <tr>
                <td  style="vertical-align: center; text-align: left" ><strong>Teil2-Tauschverhältnis=1,00:{{ form.dec31.errors }}</strong></td>
                  <td style="vertical-align: center; text-align: right" >Aufgaben Teil2<input name="dec31"  type="text" id="textInput4" value="" size="1" style="text-align:center;"></td>
                <td style="vertical-align: center; text-align: center" ><input class="slider3" type="range"  min="0" max="40" step="1" onchange="updateTextInput3(this.value);"></td>
                <td  style="vertical-align: center; text-align: left" >Aufgaben Teil3<input name="dec32"  type="text" id="textInput5" value="" size="1" style="text-align:center;"></td>
            </tr>
            
            <tr>
                <td style="vertical-align: center; text-align: left" ><strong>Teil2-Tauschverhältnis=0,75:{{ form.dec42.errors }}</strong></td>
                  <td  style="vertical-align: center; text-align: right" >Aufgaben Teil2<input name="dec41"  type="text" id="textInput6" value="" size="1" style="text-align:center;"></td>
                <td style="vertical-align: center; text-align: center" ><input class="slider4" type="range" min="0" max="40" step="1" onchange="updateTextInput4(this.value);"></td>
                <td  style="vertical-align: center; text-align: left" >Aufgaben Teil3<input name="dec42"  type="text" id="textInput7" value="" size="1" style="text-align:center;"></td>
            </tr>
            
            <tr>
                <td style="vertical-align: center; text-align: left" ><strong>Teil2-Tauschverhältnis=0,50:{{ form.dec51.errors }}</strong></td>
                  <td  style="vertical-align: center; text-align: right" >Aufgaben Teil2<input name="dec51"  type="text" id="textInput8" value="" size="1" style="text-align:center;"></td>
                <td  style="vertical-align: center; text-align: center" ><input class="slider5" type="range"  min="0" max="40" step="1" onchange="updateTextInput5(this.value);"></td>
                <td  style="vertical-align: center; text-align: left" >Aufgaben Teil3<input name="dec52"  type="text" id="textInput9" value="" size="1" style="text-align:center;"></td>
            </tr>
            
        </tbody>
    </table>
    </table>
</div>


    <button class="answer btn btn-success" >Entscheidungen übermitteln</button>
{% endblock %}