{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Vorgabe
{% endblock %}

{% block styles %}
  <style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.e{
        padding-top: 60px ;
    }
.f{
        padding-top: 60px ;
        padding-bottom: 10px ;
    }
.g{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.h{
        padding-top: 10px ;
    }
.j{
        padding-bottom: 1px ;
    }
.i{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
tr.border td {
  border: thin solid black;
}

* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:100%;
  max-height:100%;
  padding-bottom: 40px ;
}
img.im2 {
  max-width:120%;
  max-height:120%;
  padding-bottom: 40px ;
}
img.im3 {
  max-width:200%;
  max-height:500%;
  padding-bottom: 40px ;
}
img.im4 {
  max-width:200%;
  max-height:200%;
  padding-bottom: 40px ;
}
img.im5 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
img.im6 {
  max-width:95%;
  max-height:95%;
}
img.im7 {
  max-width:90%;
  max-height:90%;
}
  </style>
{% endblock %}

{% block content %}

<div class=f>
<table class="table">
    <table border=0 class="centerTable" width = "100%">
        <tbody>
            <tr>
                <td width="60%" style="vertical-align: top; text-align: left" ><p  align="justify">In der Version "Vorgabe" wird, wie in allen Versionen, für jede gelöste Aufgabe ein Baum in einem Aufforstungsprojekt geplfanzt. Allerdings ist <strong>die Aufgabe nicht, wie in den anderen Versionen, nach acht Minuten zu Ende, sondern erst sobald 16 Aufgaben bearbeitet wurden (bzw. 8 Bäume gepflanzt wurden)</strong>.<br>Zum Vergleich: In der Basisversion bearbeiten 50% aller Teilnehmenden mindestens 10 Aufgaben in 8 Minuten.<br>In dem Beispielbild ist zu erkennen, dass Ihnen ihr Fortschritt beim Erreichen des vorgegeben Ziels jederzeit angezeigt wird.</p>
                <td width="38%" style="vertical-align: center; text-align: right" ><img class=im6 src="{% static "pebs/force.png" %}" /></td>
            </tr>
        </tbody>
    </table>
    </table>
</div>

    <button class="answer btn btn-success" >Weiter</button>
{% endblock %}