{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    
{% endblock %}

{% block styles %}
  <style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.e{
        padding-top: 60px ;
    }
.f{
        padding-top: 60px ;
        padding-bottom: 10px ;
    }
.g{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.h{
        padding-top: 10px ;
    }
.j{
        padding-bottom: 1px ;
    }
.i{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
tr.border td {
  border: thin solid black;
}

* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:70%;
  max-height:70%;
}
img.im2 {
  max-width:15%;
  max-height:15%;
}
img.im3 {
  max-width:200%;
  max-height:500%;
  padding-bottom: 40px ;
}
img.im4 {
  max-width:200%;
  max-height:200%;
  padding-bottom: 40px ;
}
img.im5 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
img.im6 {
  max-width:95%;
  max-height:95%;
}
img.im7 {
  max-width:90%;
  max-height:90%;
}
  </style>
{% endblock %}

{% block content %}

<div class=a>
<p align="justify"><strong>Thank you for solving the trial-task. <br>You can now proceed with working on the 50 tasks.<br>
<div class="cont">

     
</div>

    <button style="margin-top:10px;" class="answer btn btn-success" >Proceed to the tasks</button>
{% endblock %}




