{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Aufgabe starten
{% endblock %}
{% block styles %}
  <style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 20px ;
        padding-left: 10px;
        padding-right: 10px;
        border-style: solid;
    }
.b{
        padding-top: 30px ;
        padding-bottom: 20px ;

    }
* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:80%;
  max-height:80%;
  padding-bottom: 10px ;
}
img.im2 {
  max-width:110%;
  max-height:110%;
  padding-bottom: 1px ;
}
img.im3 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
#buttonfin {
  background-color:#4f75ff;
  border-color:#4f75ff;
  }
  #buttonfin:hover {
  background-color:#3c5ccf;
  }
  #buttonfin:focus {
    outline: 0;
    box-shadow: 0 0 4px blue;
}
  </style>
{% endblock %}
{% block content %}
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
{% if participant.vars.ref == 'self' %}
<div class=b>
  <div class=a>
  <p align="justify">Gegeben Ihrer Präferenzen, wurde folgende Version zur Bearbeitung {% if participant.vars.time == 'immi' %}{% else %}in sieben Tagen{% endif %}für Sie zufällig ausgewählte Person ausgewählt:<br></p>
  
  <p align="justify">Sie werden die Version <strong>{{ participant.vars.cho }}</strong> bearbeiten.<br>
  {% if participant.vars.comp == 1 %}Dafür, dass Sie auf Ihre erste Präferenz verzichten, werden Sie mit {{ participant.vars.extrpay }}€ entschädigt.{% endif %}</p>
</div>
  <br>
<br>
      <table border=0 class="centerTable" width = "70%">
         <tbody>
            <tr>
              <td rowspan=2 width="30%" style="vertical-align: top;text-align: left;"><b>Zu bearbeitende Version:</b></td>
              <td width="40%" style="vertical-align: top;text-align: left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{ participant.vars.cho }}</b></td>
            </tr>
            <tr>   
<td  style="vertical-align: top;text-align: left;">{% if participant.vars.type == "base" %}<img class=im1 src="{% static "pebs/Graphforce.png" %}" />
      {% elif participant.vars.type == "nudge" %}<img style="vertical-align:bottom;" class=im12 src="{% static "pebs/nc.png" %}" />
      {% elif participant.vars.type == "mon" %}<img class=im1 src="{% static "pebs/moneycut.png" %}" />
      {% elif participant.vars.type == "punish" %}<img class=im1 src="{% static "pebs/punnew1cut.png" %}" />
      {% endif %} </td>
            </tr>

         </tbody>
         
      </table>
  
  {% if participant.vars.time == 'immi' %}
<p>Bitte klicken Sie auf "Aufgabe starten", sobald Sie bereit sind.</p>
</div>
    <button id="buttonfin" class="answer btn btn-success">Aufgabe starten</button>
{% else %}
<button id="buttonfin" class="answer btn btn-success">Weiter</button>
{% endif %}

{% else %}

<div class=b>
  <div class=a>
  <p align="justify"><strong>{% if participant.vars.grosel == 1 %}Es wurde zufällig ausgewählt, dass <span style="color: red">Ihre Präferenzen</span> für Sie und {% if participant.vars.gr == 2 %}die andere Person in Ihrer Gruppe{% else %}und die anderen Personen in ihrer Gruppe{% endif %} relevant werden.{% else %}Es wurde zufällig ausgewählt, dass <span style="color: red">die Präferenzen einer anderen Person in Ihrer Gruppe</span> für Sie und {% if participant.vars.gr == 2 %}{% else %}und die anderen Personen{% endif %} relevant werden.{% endif %}</strong><br><br>
    Gegeben dieser Präferenzen, wurde folgende Versionzur Bearbeitung {% if participant.vars.time == 'immi' %}{% else %}in sieben Tagen{% endif %}für Sie ausgewählt:<br></p>

  
  <p align="justify">Sie und {% if participant.vars.gr == 2 %}die andere Person in Ihrer Gruppe{% else %}und die anderen Personen in ihrer Gruppe{% endif %} werden die Version <strong>{{ participant.vars.cho }}</strong> bearbeiten.<br>
  {% if participant.vars.grosel == 1 %}{% if participant.vars.comp == 1 %}Dafür, dass Sie auf Ihre erste Präferenz verzichten, werden Sie mit {{ participant.vars.extrpay }}€ entschädigt.{% endif %}{% endif %}</p>
  </div>
    <br>
<br>
      <table border=0 class="centerTable" width = "70%">
         <tbody>
            <tr>
              <td rowspan=2 width="30%" style="vertical-align: top;text-align: left;"><b>Zu bearbeitende Version:</b></td>
              <td width="40%" style="vertical-align: top;text-align: left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{ participant.vars.cho }}</b></td>
            </tr>
            <tr>   
              <td  style="vertical-align: top;text-align: left;">{% if participant.vars.type == "base" %}<img class=im1 src="{% static "pebs/Graphforce.png" %}" />
      {% elif participant.vars.type == "nudge" %}<img style="vertical-align:bottom;" class=im12 src="{% static "pebs/nc.png" %}" />
      {% elif participant.vars.type == "mon" %}<img class=im1 src="{% static "pebs/moneycut.png" %}" />
      {% elif participant.vars.type == "punish" %}<img class=im1 src="{% static "pebs/punnew1cut.png" %}" />
      {% endif %} </td>
            </tr>
         </tbody>
         
      </table>
  {% if participant.vars.time == 'immi' %}
<p>Bitte klicken Sie auf "Aufgabe starten", sobald Sie bereit sind.</p>
</div>
    <button id="buttonfin" class="answer btn btn-success">Aufgabe starten</button>
{% else %}
<button id="buttonfin" class="answer btn btn-success">Weiter</button>
{% endif %}


{% endif %}

{% endblock %}
