{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    
{% endblock %}

{% block styles %}
  <style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.e{
        padding-top: 60px ;
    }
.f{
        padding-top: 60px ;
        padding-bottom: 10px ;
    }
.g{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.h{
        padding-top: 10px ;
    }
.j{
        padding-bottom: 1px ;
    }
.i{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
tr.border td {
  border: thin solid black;
}

* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:100%;
  max-height:100%;
  padding-bottom: 40px ;
}
img.im2 {
  max-width:120%;
  max-height:120%;
  padding-bottom: 40px ;
}
img.im3 {
  max-width:200%;
  max-height:500%;
  padding-bottom: 40px ;
}
img.im4 {
  max-width:200%;
  max-height:200%;
  padding-bottom: 40px ;
}
img.im5 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
img.im6 {
  max-width:95%;
  max-height:95%;
}
img.im7 {
  max-width:90%;
  max-height:90%;
}
#buttonfin {
  background-color:#4f75ff;
  border-color:#4f75ff;
  }
  #buttonfin:hover {
  background-color:#3c5ccf;
  }
  #buttonfin:focus {
    outline: 0;
    box-shadow: 0 0 4px blue;
  }
  </style>
{% endblock %}

{% block content %}

<div class=a>
<p align="justify">Vielen Dank für die Beabeitung der Probeaufgaben. Nun bitten wir Sie, nach einer kurzen Erläuterung, Entscheidungen bezüglich der vorgestellten Umweltaufgabe zu tätigen.<br>


</div>
    <button id="buttonfin" class="answer btn btn-success" >Weiter zu den Erläuterungen</button>
{% endblock %}


