{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Auswahl
{% endblock %}

{% block styles %}
  <style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.e{
        padding-top: 60px ;
    }
.f{
        padding-top: 60px ;
        padding-bottom: 10px ;
    }
.g{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.h{
        padding-top: 10px ;
    }
.j{
        padding-bottom: 1px ;
    }
.i{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
tr.border td {
  border: thin solid black;
}

* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:100%;
  max-height:100%;
  padding-bottom: 40px ;
}
img.im2 {
  max-width:120%;
  max-height:120%;
  padding-bottom: 40px ;
}
img.im3 {
  max-width:200%;
  max-height:500%;
  padding-bottom: 40px ;
}
img.im4 {
  max-width:200%;
  max-height:200%;
  padding-bottom: 40px ;
}
img.im5 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
img.im6 {
  max-width:95%;
  max-height:95%;
}
img.im7 {
  max-width:90%;
  max-height:90%;
}
  </style>
{% endblock %}

{% block content %}

<div class=a>
<p align="justify"><div class=a>
<p align="justify">
Gegeben Ihrer Präferenzangaben wurde folgende Version für Sie ausgewählt:<br><br>
<strong>{{ participant.vars.cho }}</strong><br><br>
{% if participant.vars.comp == 1 %}Dafür, dass Sie auf Ihre erste Präferenz verzichten, werden Sie mit {{ participant.vars.extrpay }}€ entschädigt.{% endif %}


</div>
<br>

    <button class="answer btn btn-success" >Weiter</button>
{% endblock %}


