{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Willkommen
{% endblock %}

{% block styles %}
<style type="text/css">
.a{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 30px ;
    }
* {
    font-size: 17px;/* <-- fonts */
}
img.im1 {
  max-width:35%;
  max-height:35%;
  padding-bottom: 10px ;
}
img.im2 {
  max-width:65%;
  max-height:65%;
  padding-bottom: 10px ;
}
img.im3 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 10px ;
}
img.im4 {
  max-width:200%;
  max-height:200%;
  padding-bottom: 40px ;
}
img.im5 {
  max-width:90%;
  max-height:90%;
  padding-bottom: 30px ;
}
img.im6 {
  max-width:95%;
  max-height:95%;
}
img.im7 {
  max-width:90%;
  max-height:90%;
}
  </style>
{% endblock %}

{% block content %}
<div class=b>
{% if participant.vars.ref == 'self' %} 
<p align="justify">Im Folgenden stellen wir Ihnen vier Versionen der Dekodierungsaufgabe vor. Mit Ausnahme einer Version enthalten alle Versionen jeweils einen Mechanismus, der Sie dabei unterstützen sol, dass Ihr positiver Beitrag zum Umweltschutz{% if participant.vars.time == 'immi' %}{% else %}  nächste Woche in Teil 2{% endif %} so groß wie möglich ausfallen wird.</p>
{% else %} 
<p align="justify">Im Folgenden werden wir Sie in eine Gruppe von 2 bis 4 Personen einteilen und Ihnen vier Versionen der Dekodierungsaufgabe vorstellen. Es wird Ihre Aufgabe sein, Präferenzen bezüglich der  Mit Ausnahme der Basisversion enthalten alle Versionen jeweils einen Mechanismus, der Sie und die anderen Teilnehmenden dabei unterstützen soll, dass der positiver Beitrag zum Umweltschutz{% if participant.vars.time == 'immi' %}{% else %}  nächste Woche in Teil 3{% endif %} so groß wie möglich ausfallen wird.</p>
{% endif %}

<p>Die Versionen, aus denen Sie auswählen können, bestehen aus </p>
<ul>
    <li>Version A</li>
    <li>Version B</li>
    <li>Version C</li>
    <li>Version D</li>
</ul>
</div>
<div class=c>
<p align="justify">
Auf den folgenden Seiten, werden wir Ihnen diese Versionen genauer erläutern. Daraufhin bitten wir Sie Verständnisfragen zu den Versionen zu beantworten. In einem weiteren Schritt sollen Sie dann die Versionen ordnen je nachdem welche Versionen Sie gerne{% if participant.vars.time == 'immi' %} heute{% else %} nächste Woche{% endif %}{% if participant.vars.ref == 'self' %} bearbeiten möchten{% else %} für sich und den Rest der Personen in Ihrer Gruppe zur Bearbeitung implementieren möchten{% endif %}.</p>
{% if participant.vars.ref == 'self' %}
<p align="justify">
    Der Auswahlprozess der jeweiligen Version gegeben Ihrer Präferenzangaben bezüglich der Versionen wird im unteren Bild angezeigt (1. Präferenz hat die höchste Implementierungswahrscheinlichkeit und 4. Präferenz die niedrigste).</p>
    <img class=im1 src="{% static "pebs/selpro11.png" %}" />
{% else %}
<p align="justify">
    Dies bedeutet, dass jede Person in Ihrer Gruppe die Versionen gegeben Ihrer Präferenzen ordnet. Daraufhin werden die Präferenzangaben von einer Person aus der Gruppe zufällig ausgewählt. Die ausgewählten Präferenzangabe wird dann zur Bestimmung der zu bearbeitenden Version verwendet (1. Präferenz hat die höchste Implementierungswahrscheinlichkeit und 4. Präferenz die niedrigste). <strong>Somit ist zu beachten, dass, falls Ihre Präferenzangaben zufällig ausgewählt wird, diese nicht nur für Sie relevant werden würde, sondern auch für die andere Person in Ihrer Gruppe</strong>. 
    <br>
    Der Auswahlprozess der jeweiligen Version gegeben Ihrer Präferenzangaben bezüglich der Versionen wird im unteren Bild für Gruppen von 2 Personen (Bild 1) und für Gruppen von 4 Personen (Bild 2) angezeigt.</p><br>
    <strong>Bild 1:</strong><br>
    <img class=im2 src="{% static "pebs/selpro22.png" %}" /><br><br><br>

    <strong>Bild 2:</strong><br>
    <img class=im3 src="{% static "pebs/selpro33.png" %}" />
{% endif %}
</div>


    <button class="answer btn btn-success" >Zu den Beschreibungen der Versionen</button>

{% endblock %}
