{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script language="javascript" type="text/javascript">  




var newStuff;
var time = document.getElementById("myVar").value;
var jsonstr = document.getElementById("myVar1").value;


var chart;

logFunc = function () {
    var line = "";
    for (var i = 0; i < arguments.length; i++) {
        line += String(arguments[i]) + ", ";
    }
    line += "\n"
    console.log(line);  // errors in chrome log
    var out = document.getElementById("console-log"); // some visible div - to watch errors
    if (out !== null) {
        out.innerHTML += line
    }
};

// ajax request without jQuery
function postUpdate(uploadStuff) {
    var xhr = new XMLHttpRequest();
    var params = 'key1=val1&key2=val2&';
    xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                try {
                    updateWebsite();
                } catch (error) {
                    logFunc("response json parse error", error);
                }
            setTimeout(postUpdate, 2000);

        }
    }
    xhr.open('POST', 'http://localhost:8000/static/hello.json' , true);
    xhr.send(JSON.stringify(uploadStuff));

};
setInterval(postUpdate(),2000);

function updateWebsite() {
    var tnew = +new Date;
    var tdi = tnew - time;
    var value5;
    var value25;



    dict = {51200: 1, 95700: 2, 137700: 3, 177100: 4, 216100: 5, 255100: 6, 289400: 7, 322200: 8, 365400: 9, 414600: 10, 474000: 11, 515500: 12, 552900: 13, 600500: 14, 643600: 15, 685600: 16, 736900: 17, 791900: 18, 848300: 19, 884500: 20, 930800: 21, 983200: 22, 1039400: 23, 1075200: 24, 1116200: 25, 1153700: 26, 1199300: 27, 1245400: 28, 1285600: 29, 1325400: 30, 1367900: 31, 1405500: 32, 1456700: 33, 1506100: 34, 1573500: 35, 1611400: 36, 1652500: 37, 1698000: 38, 1748600: 39, 1806600: 40, 1843800: 41, 1876400: 42, 1927300: 43, 1963500: 44, 2026300: 45, 2075600: 46, 2109300: 47, 2149900: 48, 2187700: 49, 2261700: 50}
    for (var key in dict){
        if (key > tdi) { break; }
        value5 = dict[key];
    };

    dict1 = {19300: 1, 36700: 2, 61700: 3, 82700: 4, 101000: 5, 120700: 6, 141000: 7, 158300: 8, 187300: 9, 202300: 10, 228300: 11, 259300: 12, 273000: 13, 293000: 14, 311700: 15, 336300: 16, 353300: 17, 383300: 18, 397300: 19, 414700: 20, 432700: 21, 455000: 22, 473300: 23, 495300: 24, 516000: 25, 534000: 26, 546000: 27, 562000: 28, 578700: 29, 604000: 30, 619700: 31, 637700: 32, 655700: 33, 680000: 34, 697700: 35, 715300: 36, 732000: 37, 747300: 38, 770700: 39, 786000: 40, 813300: 41, 828000: 42, 846700: 43, 862300: 44, 887000: 45, 900300: 46, 919300: 47, 938300: 48, 953700: 49, 976000: 50}
    for (var key in dict1){
        if (key > tdi) { break; }
        value25 = dict1[key];
    };


chart=Highcharts.chart('container', {
        chart: {
            type: 'column',
            marginTop: 20
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: 
                ['',
                {% if participant.vars.hype == 'lowmon' %}'',{% elif participant.vars.hype == 'highmon' %}'',{% endif %}
            ],
            crosshair: true
        },
        yAxis: [{
            min: 0,
            {% if participant.vars.hype == 'noenvim' %}
            {% if participant.vars.pex <= 5 %}
            max:5,
            {% else %}
            max:10,
            {% endif %}
            tickInterval: 2,
            {% else %}
            {% if participant.vars.pex <= 5 %}
            max:5,
            {% else %}
            max:10,
            {% endif %}
            tickInterval: 1,
            {% endif %}
            title: {
                text: {% if participant.vars.hype == 'monm' %} 'Verdienst' {% elif participant.vars.hype == 'punishm' %} 'Verdienst' {% else %} null {% endif %}
            }
            {% if participant.vars.hype == 'force' %},
            plotLines: [{
                    value: 10,
                    color: 'black',
                    dashStyle: 'solid',
                    width: 3,
                    label: {
                        text: 'Ziel'
                    }
                }] {% endif %}
        } 
        {% if participant.vars.hype == 'monm' %},{
            min: 0,
            {% if subsession.round_number <= 20 %}
            max:10,
            {% else %}
            max:15,
            {% endif %}
            tickInterval: 1,
            title: {
                text: '€'
            },
            opposite: true
        }
        {% elif participant.vars.hype == 'punishm' %},{
            min: 0,
            {% if subsession.round_number <= 20 %}
            max:10,
            {% else %}
            max:15,
            {% endif %}
            tickInterval: 1,
            title: {
                text: '€'
            },
            opposite: true 
        }
        {% endif %}
        ],
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                animation: false,
            }
        },
        series: [{
        {% if participant.vars.hype == 'monm' %}
            name: 'Verdienst',
            data: [{{ showpay }}/100],
            color: "#165db5"},
            {
            name: 'Bonus',
            data: [{{ wage }}/1000]
        {% elif participant.vars.hype == 'punishm' %}
            name: 'Verdienst',
            data: [{{ showpay }}/100],
            color: "#165db5"}, 
            {
            name: 'Sanktion',
            data: [{{ pun }}/1000],
            color:"#a31010"
        {% elif participant.vars.hype == 'nudgem' %}
        name: 'Verdienst',
            data: [ {{ showpay }} /100 ],
            color: "#165db5"}, 
            {
            name: 'Durchschn.',
            data: [value5/10],
            color: "#165db5"},
            {
            name: 'Top 25%',
            data: [value25 /10], 
            color:"#3c7dcf"
        {% else %}
            name: 'Verdienst',
            data: [{{ showpay }}/100],
            color: "#6099e0"
        {% endif %}
    }]
});
}

        function reset(){

            document.getElementById("screen").value = '';

        }

        document.getElementById("cont").style.display="none";
        function showhide()
        {
        var div = document.getElementById("cont");
        if (div.style.display === "none") {
        div.style.display = "block";
        } else {
        div.style.display = "none";
        }
        } 

 
  function calculate1(){
        Value = document.getElementById("id_wrong").value;
        console.log(Value++);
        document.getElementById("id_wrong").value = Value;
     }


var tet = document.getElementById("c1").value;
var vark = [];
for(let i = 0; i < 100; ++i){
    if (tet[i] == "K") {
        vark.push(i)
    }
}

function change(a){
var b = "button" + a

if (vark.includes(a)==true) {

if (document.getElementById(b).style.backgroundColor == "gray"){

        document.getElementById(b).style.backgroundColor="transparent";
        Value = document.getElementById("id_answer").value;
        console.log(Value--);
        document.getElementById("id_answer").value = Value;
        window.sessionStorage.setItem("id_answer", Value);
        window.sessionStorage.setItem(b, "transparent");

    } else {
        
       document.getElementById(b).style.backgroundColor="gray"; 
       Value = document.getElementById("id_answer").value;
        console.log(Value++);
        document.getElementById("id_answer").value = Value;
        window.sessionStorage.setItem("id_answer", Value);
        window.sessionStorage.setItem(b, "gray");
    }
    }  
}



function changeBackground() {
    if (document.getElementById("id_wrong").value>0){
    for(let i = 0; i < 100; ++i){
        var c = "button" + i
        var col = sessionStorage.getItem(c);
        document.getElementById(c).style.backgroundColor = col
        var ans = sessionStorage.getItem("id_answer");
        if (ans>0){
        document.getElementById("id_answer").value = ans
    }
    }

    } else {sessionStorage.clear()}
    }


  changeBackground();

$('#id_answer').keypress(function(e) {
    e.preventDefault();
});
$("#id_answer").on('keydown',  function(event){
  var key = event.charCode || event.keyCode || event.which;// alert (key);
  var char = String.fromCharCode(event.key);
  if( key === 8 || key=== 46 ){
    event.preventDefault();
    return false;
  } else {    
    $("#id_answer").append(char);
  }
});

$(document).on("wheel", "input[type=number]", function (e) {
    $(this).blur();
});


document.getElementById('id_answer').disabled;



     document.getElementById("wong").style.visibility="hidden";

if (document.getElementById("id_wrong").value==0){
var countdownNum = 45;
var countdownNum1 = 45;
incTimer();
incTimer1();

} else {
    var tim = sessionStorage.getItem("timeLeft");
    var tim = sessionStorage.getItem("timeLeft1");
    var countdownNum = tim;
    var countdownNum1 = tim;
    incTimer();
    incTimer1();

}



function incTimer(){
setTimeout (function(){
    if(countdownNum != 0){
    countdownNum--;
    document.getElementById('timeLeft').innerHTML = 'Noch ' + countdownNum + ' Sekunden bis Sanktion eintritt.';
    incTimer();
    window.sessionStorage.setItem("timeLeft", countdownNum);
    } else {
    document.getElementById('timeLeft').innerHTML = 'Sanktion tritt in Kraft';
    }
},1000);
}

function incTimer1(){
setTimeout (function(){
    if(countdownNum1 != 0){
    countdownNum1--;
    document.getElementById('timeLeft1').innerHTML = 'Noch ' + countdownNum1 + ' um Bonus zu erhalten.';
    incTimer1();
    window.sessionStorage.setItem("timeLeft1", countdownNum1);
    } else {
    document.getElementById('timeLeft1').innerHTML = 'Bonus verpasst';
    }
},1000);
}

        </script>
</script>
{% endblock %}
{% block styles %}
  <style type="text/css">
#button {
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button:active {
    position:relative;
    top:1px;
    }


    .but1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    .but1:active {
    position:relative;
    top:1px;
    }




.z{
        padding-top: 10px ;
        padding-bottom: 40px ;
    }
.table{
        position: fixed;
        right: 3%;
        width: 15%;
        top:60%;
        padding: 10px;
    }

.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.z{
        position:relative; 
    }
.timeleft{
    position:absolute;
    top:90%;
    right:6%;
    background-color: lightblue;
    padding-top:10px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
}
.timeleft1{
    position:absolute;
    top:90%;
    right:6%;
    background-color: lightblue;
    padding-top:10px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
}
{% if participant.vars.hype == 'force' %}
.otree-timer {
        display: none;
        }
{% else %}
.otree-timer {
        position:absolute;
        top:17%;
        right:20%;
        }
        {% endif %}
img.im1 {
  max-width:100%;
  max-height:100%;
}
#buttonfin {
  background-color:#4f75ff;
  border-color:#4f75ff;
  }
  #buttonfin:hover {
  background-color:#3c5ccf;
  }
  #buttonfin:focus {
    outline: 0;
    box-shadow: 0 0 4px blue;
  }
  </style>
{% endblock %}

{% block content %}
<div class="z">
<div id='button' class="z" onclick="showhide()">Anleitung</div>
<div id="cont">
</div>

<p>Finden Sie alle Buchstaben "K" in der Tabelle. Klicken Sie auf den Buchstaben, sobald Sie ihn gefunden haben. Der Zähler wird dadurch automatisch erhöht.</p>
{% if participant.vars.hype == "punishm" %}
<div class=timeleft style="width:32%;">
<p style="text-align: center;" id="timeLeft" ></p>
</div>
{% elif participant.vars.hype == "monm" %}
<div class=timeleft1 style="width:32%;">
<p style="text-align: center;" id="timeLeft1" ></p>
</div>
{% endif %}
</div>
<font size="4">
    
    <table border=0 class="centerTable" width = "100%">
        <tbody>
            <tr>
                <td width = "55%" vertical-align="center" align="left">
    
    <table border=1 class="centerTable" width = "90%">
        <tbody>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button0' class="but1" onclick="change(0)">{{ A0 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button1' class="but1" onclick="change(1)">{{ A1 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button2' class="but1" onclick="change(2)">{{ A2 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button3' class="but1" onclick="change(3)">{{ A3 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button4' class="but1" onclick="change(4)">{{ A4 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button5' class="but1" onclick="change(5)">{{ A5 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button6' class="but1" onclick="change(6)">{{ A6 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button7' class="but1" onclick="change(7)">{{ A7 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button8' class="but1" onclick="change(8)">{{ A8 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button9' class="but1" onclick="change(9)">{{ A9 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button10' class="but1" onclick="change(10)">{{ A10 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button11' class="but1" onclick="change(11)">{{ A11 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button12' class="but1" onclick="change(12)">{{ A12 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button13' class="but1" onclick="change(13)">{{ A13 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button14' class="but1" onclick="change(14)">{{ A14 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button15' class="but1" onclick="change(15)">{{ A15 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button16' class="but1" onclick="change(16)">{{ A16 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button17' class="but1" onclick="change(17)">{{ A17 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button18' class="but1" onclick="change(18)">{{ A18 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button19' class="but1" onclick="change(19)">{{ A19 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button20' class="but1" onclick="change(20)">{{ A20 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button21' class="but1" onclick="change(21)">{{ A21 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button22' class="but1" onclick="change(22)">{{ A22 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button23' class="but1" onclick="change(23)">{{ A23 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button24' class="but1" onclick="change(24)">{{ A24 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button25' class="but1" onclick="change(25)">{{ A25 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button26' class="but1" onclick="change(26)">{{ A26 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button27' class="but1" onclick="change(27)">{{ A27 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button28' class="but1" onclick="change(28)">{{ A28 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button29' class="but1" onclick="change(29)">{{ A29 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button30' class="but1" onclick="change(30)">{{ A30 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button31' class="but1" onclick="change(31)">{{ A31 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button32' class="but1" onclick="change(32)">{{ A32 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button33' class="but1" onclick="change(33)">{{ A33 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button34' class="but1" onclick="change(34)">{{ A34 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button35' class="but1" onclick="change(35)">{{ A35 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button36' class="but1" onclick="change(36)">{{ A36 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button37' class="but1" onclick="change(37)">{{ A37 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button38' class="but1" onclick="change(38)">{{ A38 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button39' class="but1" onclick="change(39)">{{ A39 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button40' class="but1" onclick="change(40)">{{ A40 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button41' class="but1" onclick="change(41)">{{ A41 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button42' class="but1" onclick="change(42)">{{ A42 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button43' class="but1" onclick="change(43)">{{ A43 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button44' class="but1" onclick="change(44)">{{ A44 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button45' class="but1" onclick="change(45)">{{ A45 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button46' class="but1" onclick="change(46)">{{ A46 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button47' class="but1" onclick="change(47)">{{ A47 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button48' class="but1" onclick="change(48)">{{ A48 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button49' class="but1" onclick="change(49)">{{ A49 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button50' class="but1" onclick="change(50)">{{ A50 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button51' class="but1" onclick="change(51)">{{ A51 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button52' class="but1" onclick="change(52)">{{ A52 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button53' class="but1" onclick="change(53)">{{ A53 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button54' class="but1" onclick="change(54)">{{ A54 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button55' class="but1" onclick="change(55)">{{ A55 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button56' class="but1" onclick="change(56)">{{ A56 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button57' class="but1" onclick="change(57)">{{ A57 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button58' class="but1" onclick="change(58)">{{ A58 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button59' class="but1" onclick="change(59)">{{ A59 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button60' class="but1" onclick="change(60)">{{ A60 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button61' class="but1" onclick="change(61)">{{ A61 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button62' class="but1" onclick="change(62)">{{ A62 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button63' class="but1" onclick="change(63)">{{ A63 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button64' class="but1" onclick="change(64)">{{ A64 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button65' class="but1" onclick="change(65)">{{ A65 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button66' class="but1" onclick="change(66)">{{ A66 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button67' class="but1" onclick="change(67)">{{ A67 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button68' class="but1" onclick="change(68)">{{ A68 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button69' class="but1" onclick="change(69)">{{ A69 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button70' class="but1" onclick="change(70)">{{ A70 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button71' class="but1" onclick="change(71)">{{ A71 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button72' class="but1" onclick="change(72)">{{ A72 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button73' class="but1" onclick="change(73)">{{ A73 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button74' class="but1" onclick="change(74)">{{ A74 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button75' class="but1" onclick="change(75)">{{ A75 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button76' class="but1" onclick="change(76)">{{ A76 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button77' class="but1" onclick="change(77)">{{ A77 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button78' class="but1" onclick="change(78)">{{ A78 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button79' class="but1" onclick="change(79)">{{ A79 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button80' class="but1" onclick="change(80)">{{ A80 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button81' class="but1" onclick="change(81)">{{ A81 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button82' class="but1" onclick="change(82)">{{ A82 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button83' class="but1" onclick="change(83)">{{ A83 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button84' class="but1" onclick="change(84)">{{ A84 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button85' class="but1" onclick="change(85)">{{ A85 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button86' class="but1" onclick="change(86)">{{ A86 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button87' class="but1" onclick="change(87)">{{ A87 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button88' class="but1" onclick="change(88)">{{ A88 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button89' class="but1" onclick="change(89)">{{ A89 }}</div></td>
                            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px"><div id='button90' class="but1" onclick="change(90)">{{ A90 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button91' class="but1" onclick="change(91)">{{ A91 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button92' class="but1" onclick="change(92)">{{ A92 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button93' class="but1" onclick="change(93)">{{ A93 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button94' class="but1" onclick="change(94)">{{ A94 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button95' class="but1" onclick="change(95)">{{ A95 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button96' class="but1" onclick="change(96)">{{ A96 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button97' class="but1" onclick="change(97)">{{ A97 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button98' class="but1" onclick="change(98)">{{ A98 }}</div></td>
                <td width="(10)%" align="center" height="40px"><div id='button99' class="but1" onclick="change(99)">{{ A99 }}</div></td>
            
            </tr>
        </tbody>
    </table>
            {% if participant.vars.hype == 'nudgem' %}
                

                <td width="7%" style="vertical-align: bottom; text-align: center" rowspan=2 height="70px">
                {% if subsession.round_number == 1 %}
                {% else %}
                {% if face == 1 %}
                <img class=im1 src="{% static "pebs/happy.png" %}" "/>
                {% elif face == 2 %}
                <img class=im1 src="{% static "pebs/neutral.png" %}" "/>
                {% else %}
                <img class=im1 src="{% static "pebs/frowny.png" %}" "/>
                {% endif %}
                {% endif %}
                <br>
                <br>
                <br>
                <br>
                </td>
                <td width="55%" align="center" height="70px" rowspan=2><script src="https://code.highcharts.com/highcharts.js"></script>
                                                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>

                                                                <div id="container" style="min-width: 100px; height: 400px; margin: 0 auto"></div> </td>
            </tr>
            {% else %}
                <td width="50%" align="center" height="70px" rowspan=2><script src="https://code.highcharts.com/highcharts.js"></script>
                                                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>

                                                                <div id="container" style="min-width: 100px; height: 400px; margin: 0 auto"></div> </td>
            </tr>
            {% endif %}
            </font>
   
            <tr>
            <td width="50%" align="left" height="70px"><p> <strong>Bitte antwort hier eingeben:</strong></p>{% formfield player.answer label="" %}   </td>
            </tr>
        </tbody>
    </table>
</div>

<button id="buttonfin" style="margin-top:10px;" onclick="calculate1()"" class="answer btn btn-success"  >Antworten</button>
        
<div id=wong>
{% formfield player.wrong label="" %}  
</div>
<div id="test"> </div>
<input type="hidden" name="first" value="{{ lets }}" id="c1"  >
<input type="hidden" id="myVar" name="variable" value="{{ tita }}">
<input type="hidden" id="myVar1" name="variable" value="{ 'key1': 20, 'key2': 60 }">


{% endblock %}
