{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    
{% endblock %}
{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script language="javascript" type="text/javascript">  
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: 
            [''],
        crosshair: true
    },
    yAxis: [{
        min: 0,
        max:10,
        tickInterval: 1,
        title: {
            text:  'gelöste Aufgaben'
        }
        
   }
    ],
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'gelöste Aufgaben',
        data: [{{ tree }}/10]
    }]
});


        function reset(){

            document.getElementById("screen").value = '';

        }

        document.getElementById("cont").style.display="none";
        function showhide()
        {
        var div = document.getElementById("cont");
        if (div.style.display === "none") {
        div.style.display = "block";
        } else {
        div.style.display = "none";
        }
        } 


        </script>
</script>
{% endblock %}
{% block styles %}
  <style type="text/css">
#button {
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button:active {
    position:relative;
    top:1px;
    }
#buttonfin {
  background-color:#4f75ff;
  border-color:#4f75ff;
  }
  #buttonfin:hover {
  background-color:#3c5ccf;
  }
  #buttonfin:focus {
    outline: 0;
    box-shadow: 0 0 4px blue;
  }
.z{
        padding-top: 10px ;
        padding-bottom: 40px ;
    }
.table{
        position: fixed;
        right: 3%;
        width: 15%;
        top:60%;
        padding: 10px;
    }

.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.otree-timer {
        position:absolute;
        top:0;
        right:0;
        }
img.im1 {
  max-width:100%;
  max-height:100%;
}
  </style>
{% endblock %}

{% block content %}
<div class="z">
<div id='button' class="z" onclick="showhide()">Hilfe: Anleitung</div>
<div id="cont">
<p>In dieser Aufgabe ist es das Ziel eine Zahlensequenz in Buchstaben zu übersetzen. Sie sehen unten (1) eine Zahlensequenz, (2) die Schlüsseltabelle, die vorgibt, durch welche Buchstaben die Nummern repräsentiert werden, und (3) ein Textfeld, in das die Lösung eingegeben werden soll. Insofern die Aufgabe korrekt beantwortet wurde, erscheint eine neue Aufgabe. Insgesamt haben Sie fünf Minuten Zeit so viele Aufgaben wie möglich zu Lösen. Ist die Maximalanzahl an Aufgaben vor Ablauf der Zeit erreicht, wird das Spiel vorzeitig beendet.</p>
</div>
</div>
<font size="4">
<table class="table">
    
    <table border=1 class="centerTable" width = "100%">
        <tbody>
            <tr>
                <td width="(10)%" align="center" height="40px">{{ N1 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N2 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N3 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N4 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N5 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N6 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N7 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N8 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N9 }}</td>
                <td width="(10)%" align="center" height="40px">{{ N10 }}</td>
            </tr>
            <tr>
                <td width="(10)%" align="center" height="40px">{{ A }} </td>
                <td width="(10)%" align="center" height="40px">{{ B }}</td>
                <td width="(10)%" align="center" height="40px">{{ C }}</td>
                <td width="(10)%" align="center" height="40px">{{ D }}</td>
                <td width="(10)%" align="center" height="40px">{{ E }}</td>
                <td width="(10)%" align="center" height="40px">{{ F }}</td>
                <td width="(10)%" align="center" height="40px">{{ G }}</td>
                <td width="(10)%" align="center" height="40px">{{ H }}</td>
                <td width="(10)%" align="center" height="40px">{{ I }}</td>
                <td width="(10)%" align="center" height="40px">{{ J }}</td>
            </tr>
        </tbody>
    </table>
<p>&nbsp;</p>
</table>
</font>

<div class="c"> 
<font size="4">  
    <table border=0 class="centerTable" width = "100%">
        <tbody>
            <tr>
            <td width="50%" align="center" height="70px"><p><strong>Code: {{question}}</strong></p></td>
                <td width="50%" align="center" height="70px" rowspan=2><script src="https://code.highcharts.com/highcharts.js"></script>
                                                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>

                                                                <div id="container" style="min-width: 100px; height: 400px; margin: 0 auto"></div> </td>
            </tr>
            </font>
        
            <tr>
            <td width="50%" align="center" height="70px"><p> <strong>Bitte antwort hier eingeben:</strong></p><input type="text" name="answer" autofocus="autofocus" id=1  required/> {{ form.answer.errors }}</td>
            </tr>
        </tbody>
    </table>
</div>

<button id="buttonfin" class="answer btn btn-success"  >Antworten</button>
        
    

{% endblock %}
